.how__to-container>h1{
    font-size: 4rem;
    font-weight: 700;
}
.how_to_use-content>p{
    line-height: 1.7;
    font-size: var(--small-font-size);
    margin-bottom: 1.3rem;
}

@media screen and (max-width:768px){

    .how__to-container>h1{
        font-size: 3rem;
        margin-top: 7rem;
    }
    
  }