.privacy__policy-container>h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.privacy__policy-container>p {
    line-height: 1.7;
    font-size: var(--small-font-size);

}


.privacy__policy-content {
    margin-top: 2rem;
}

.privacy__policy-content>h2 {
    font-weight: 600;
    font-family: var(--title-font);
    margin-bottom: .5rem;
}

.privacy__policy-content>p {
    margin-bottom: 2rem;
    line-height: 1.7;
    font-size: var(--small-font-size);
}

@media screen and (max-width:768px) {

    .privacy__policy-container>h1 {

        font-size: 2.8rem;
        margin-top: 7rem;
    }

    .privacy__policy-content>h2 {
        font-size: 1.2rem;
        font-weight: 700;
    }
}